Source: ros-hydro-stereo-wall-detection
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-angles, ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-pcl-conversions, ros-hydro-pcl-ros, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-visualization-msgs
Homepage: http://pr.willowgarage.com
Standards-Version: 3.9.2

Package: ros-hydro-stereo-wall-detection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-angles, ros-hydro-geometry-msgs, ros-hydro-pcl-conversions, ros-hydro-pcl-ros, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-visualization-msgs
Description: Detects planar structures (e.g., walls) from stereo cameras point clouds (usually generated using a texture projector).
