Source: ros-hydro-pr2-plugs-common
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-bfl, ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-pr2-controllers-msgs, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-tf
Homepage: http://ros.org/wiki/pr2_plugs_common
Standards-Version: 3.9.2

Package: ros-hydro-pr2-plugs-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-bfl, ros-hydro-geometry-msgs, ros-hydro-pr2-controllers-msgs, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-tf
Description: pr2_plugs_common contains common utilies for plugging in the PR2 robot.
